@import "../mixins";


// Forms
// -----------------------------------------------------------------------------


// --- Inputs ---

.form-checkbox {
  margin-right: 7px;
}


// --- Buttons ---

.button,
.image-button {
  @include button();

  &:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }
}


// --- Fieldsets ---

.fieldset-legend {
  margin-left: 7px;
  margin-right: 7px;
}

.fieldset-wrapper {}

.fieldset-description {}
