@import "../mixins";


// Menus
// -----------------------------------------------------------------------------

ul.menu {
  @include clearfix;
  margin: 0;

  .menu-item {
    padding: 0;
    float: left;
  }

  .menu-item a {
    display: block;
    padding: 5px 13px; // @see region.scss .trigger-region-navbar { padding }
    text-decoration: none;

    &:hover,
    &:focus {}

    &:active {}
  }
}


// Main menu
// -----------------------------------------------------------------------------

.menu--main {

  .block__title {
    @include visually-hidden();
  }
}


// Account menu
// -----------------------------------------------------------------------------

.menu--account {

  .block__title {
    @include visually-hidden();
  }
}