@import "../mixins";


// Regions
// -----------------------------------------------------------------------------

.region {}


// Navbar regions
// -----------------------------------------------------------------------------

.region-navbar {
  .block{
    &__title {
      @include visually-hidden;
    }
  }
}

.trigger-region-navbar {
  cursor: pointer;
  float: right;
  padding: 5px 13px; // @file _menus.scss .menu-item a {}
}
