.row-navbar--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

body.toolbar-fixed .row-navbar--fixed {
  top: 39px;
}

body.toolbar-fixed.toolbar-tray-open.toolbar-horizontal .row-navbar--fixed {
  top: 79px;
}
