@import "config";


// Custom mixins
// -----------------------------------------------------------------------------

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin button {
  box-sizing: border-box;
  border: 1px solid $border;
  border-radius: $radius;
  // max-width: 100%;
  padding: 5px 15px;
  background-color: $light;
  margin-left: .7em;
  margin-right: .7em;

  &:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $medium_dark;
  }

  &:active {}
}

// Open the drop-downs on the left.
@mixin grow-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(-100%,0,0);
}

// Open the drop-downs on the right.
@mixin grow-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(100%,0,0);
}
