@import "../mixins";


// Menu
// -----------------------------------------------------------------------------

ul.menu {
  @include clearfix;
  margin: 0;

  .menu-item {
    padding: 0;

    &--expanded {
      list-style: none;
    }
  }

  .menu-item a {
    display: block;
    padding-left: 13px;
    padding-right: 13px;
    line-height: 2.5em;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;

    &:hover,
    &:focus {}

    &:active {}
  }

  // Levels greater than 1
  ul.menu {

    // Mobile
    @include breakpoint($mobile-isolate) {
      margin-left: 1em;
    }
  }
}


// Main menu
// -----------------------------------------------------------------------------

.menu--main {

  @include breakpoint($wide) {
    float: left;
  }

  .block__title {}

  // On desktop, set the height of the navbar on the first level of menu links.
  @include breakpoint($wide) {
    > ul.menu > .menu-item {
      float: left;

      > a {
        line-height: $navbar-height;
      }
    }
  }
}


// Account menu
// -----------------------------------------------------------------------------

.menu--account {

  @include breakpoint($wide) {
    float: right;
  }

  .block__title {}

  // On desktop, set the height of the navbar on the first level of menu links.
  @include breakpoint($wide) {
    > ul.menu > .menu-item {
      float: left;

      > a {
        line-height: $navbar-height;
      }
    }
  }
}
