@import "../mixins";


// Nodes
// -----------------------------------------------------------------------------

.node {
  margin-bottom: $base-margin;

  &__title {}

  &__content {}

  &__submitted {
    font-size: .875em;
    margin-bottom: $base-margin;
  }
}
