@import "../mixins";


// Regions
// -----------------------------------------------------------------------------

.region {}


// Navbar regions
// -----------------------------------------------------------------------------

.region-navbar {

  // Mobile
  @include breakpoint($mobile-isolate) {
    position: fixed;
    left: 0;
    // top: 0;
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
  }
}

.trigger-navbar {
  border: none;
  padding: 0 15px;
  line-height: $navbar-height;
  border-radius: 0;
  background-color: transparent;

  &:hover,
  &:focus {}

  &:active {}
}

.trigger__icon {

  &.svg-icon--only {
    width: 1.5em;
    height: 1.5em;
  }
}
