@import "../mixins";


// Toolbar improvements
// -----------------------------------------------------------------------------

#toolbar-administration {
  font-size: .875em; // Use em to simplify height management.
  position: fixed; // Fixed. Always.
  top: 0;
  width: 100%;
  z-index: 2; // Overlay fixed-navbar.
}

body.toolbar-fixed.toolbar-tray-open {

  &.toolbar-vertical {
    margin-left: 0; // Do not slide content.
  }
}
