@import "../mixins";


// Containers
// -----------------------------------------------------------------------------

.container {
  max-width: $container;
  // padding-right: $main-gutter;
  // padding-left: $main-gutter;
  margin-left: auto;
  margin-right: auto;

  // @include background-grid($color: #e6e6e6); // Show the grid.
}
