@import "../mixins";


// Regions
// -----------------------------------------------------------------------------

.region {}


// Navbar regions
// -----------------------------------------------------------------------------

.region-navbar {

  // Mobile
  @include breakpoint($mobile-isolate) {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
  }

  @include breakpoint($tablet-isolate) {
    position: absolute;
    right: 0;
  }
}

.toolbar-vertical .region-navbar {

  @include breakpoint($mobile-isolate) {
    top: $toolbar-height;
  }
}

.trigger-navbar {

  // Desktop
  @include breakpoint($wide) {
    display: none;
  }
}


// Branding regions
// -----------------------------------------------------------------------------

.region-branding {

  @include grid-span(2,1);

  // Tablet
  @include breakpoint($tablet-isolate) {
    @include grid-span(2,1);
  }

  // Desktop
  @include breakpoint($wide) {
    @include grid-span(2,1);
  }
}