@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.block-system-branding-block .site-logo img {
  height: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  vertical-align: middle;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

li.droppy__parent {
  position: relative;
}

@media (min-width: 561px) and (max-width: 850px) {
  ul.droppy__drop--active {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(51, 51, 51, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@media (min-width: 851px) {
  ul.droppy__drop--active {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(51, 51, 51, 0.3);
  }
}

@media (min-width: 851px) {
  ul.droppy__drop--active ul.droppy__drop--active {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@media (min-width: 851px) {
  .region-navbar.droppy__drop {
    display: block !important;
  }
}

@media (min-width: 0) and (max-width: 560px) {
  .region-navbar.droppy__drop--active {
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(51, 51, 51, 0.3);
  }
}

@media (min-width: 561px) and (max-width: 850px) {
  .region-navbar.droppy__drop--active {
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 7px rgba(51, 51, 51, 0.3);
  }
}

.wrapper-navbar.droppy__parent {
  position: relative;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.field {
  margin-bottom: 1.5em;
}

.field--name-title input {
  display: block;
}

.field--name-field-tags .field__item {
  display: inline-block;
  margin-right: .3em;
}

.field--name-field-tags .field__item a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: .875em;
  line-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #f4f5f6;
  transition-property: background-color;
  transition-duration: .3s;
  border-radius: 1em;
}

.field--name-field-tags .field__item a:hover, .field--name-field-tags .field__item a:focus {
  background-color: #e5e5e5;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.form-checkbox {
  margin-right: 7px;
}

.button,
.image-button {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 15px;
  background-color: #eee;
  margin-left: .7em;
  margin-right: .7em;
}

.button:first-of-type,
.image-button:first-of-type {
  margin-left: 0;
  margin-right: 0;
}

.button:hover, .button:focus,
.image-button:hover,
.image-button:focus {
  background-color: #e5e5e5;
}

.button:first-of-type,
.image-button:first-of-type {
  margin-left: 0;
  margin-right: 0;
}

.fieldset-legend {
  margin-left: 7px;
  margin-right: 7px;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

ul.menu {
  margin: 0;
}

ul.menu::after {
  content: "";
  display: table;
  clear: both;
}

ul.menu .menu-item {
  padding: 0;
}

ul.menu .menu-item--expanded {
  list-style: none;
}

ul.menu .menu-item a {
  display: block;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 2.5em;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}

@media (min-width: 0) and (max-width: 560px) {
  ul.menu ul.menu {
    margin-left: 1em;
  }
}

ul.menu.animation-in {
  animation-name: fadeIn;
  animation-duration: .3s;
}

ul.menu.animation-out {
  animation-name: fadeOut;
  animation-duration: .3s;
}

@media (min-width: 851px) {
  .menu--main {
    float: left;
  }
}

@media (min-width: 851px) {
  .menu--main > ul.menu > .menu-item {
    float: left;
  }
  .menu--main > ul.menu > .menu-item > a {
    line-height: 4em;
  }
}

@media (min-width: 851px) {
  .menu--account {
    float: right;
  }
}

@media (min-width: 851px) {
  .menu--account > ul.menu > .menu-item {
    float: left;
  }
  .menu--account > ul.menu > .menu-item > a {
    line-height: 4em;
  }
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.messages {
  margin-bottom: 1.5em;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.node {
  margin-bottom: 1.5em;
}

.node__submitted {
  font-size: .875em;
  margin-bottom: 1.5em;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pager {
  text-align: center;
}

.pager__items {
  display: inline-block;
  padding-left: 0;
}

.pager__item {
  padding: 0;
}

.pager__item a {
  display: block;
  float: left;
  line-height: 2em;
  padding-right: 1em;
  padding-left: 1em;
  color: #333;
  background-color: #f4f5f6;
  transition-property: background-color;
  transition-duration: .3s;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-decoration: none;
}

.pager__item a:hover, .pager__item a:focus {
  background-color: #e5e5e5;
}

.pager__item:first-child a {
  border-left: 1px solid #ccc;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.pager__item:last-child a {
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 0) and (max-width: 560px) {
  .region-navbar {
    position: fixed;
    left: 0;
    width: 80vw;
    height: 100vh;
    overflow-y: auto;
  }
  .region-navbar.animation-in {
    animation-name: slideInLeft;
    animation-duration: .3s;
  }
  .region-navbar.animation-out {
    animation-name: slideOutLeft;
    animation-duration: .3s;
  }
}

@media (min-width: 561px) and (max-width: 850px) {
  .region-navbar.animation-in {
    animation-name: fadeIn;
    animation-duration: .3s;
  }
  .region-navbar.animation-out {
    animation-name: fadeOut;
    animation-duration: .3s;
  }
}

.trigger-navbar {
  border: none;
  padding: 0 15px;
  line-height: 4em;
  border-radius: 0;
  background-color: transparent;
}

.trigger__icon.svg-icon--only {
  width: 1.5em;
  height: 1.5em;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.row {
  margin-bottom: 1em;
}

.row-navbar {
  border-bottom: 1px solid #ccc;
  background-color: #f4f5f6;
}

.row-highlighted {
  margin-bottom: 0;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.tabs {
  margin-bottom: 1em;
}

ul.primary {
  padding: 0 .3em;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

ul.primary::after {
  content: "";
  display: table;
  clear: both;
}

ul.primary li {
  float: left;
  white-space: nowrap;
}

ul.primary a {
  border: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;
  bottom: -1px;
}

ul.primary a.is-active {
  border-bottom-color: #fff;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#toolbar-administration {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

body.toolbar-fixed.toolbar-tray-open.toolbar-vertical {
  margin-left: 0;
}

@keyframes fake {
  from {
  }
  to {
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper-footer {
  background-color: #f4f5f6;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}
