

.field--name-title input {
  display: block;
}

.form-textarea,
.form-number,
.form-text {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 7px;
  max-width: 100%;
  background-color: #fff;
}

.form-submit {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 100%;
  padding: 5px 15px;
  background-color: #eee;
}

.form-submit:hover, .form-submit:focus {
  background-color: #e5e5e5;
}

.form-checkbox {
  margin-right: 5px;
}

.form-actions {
  margin: 0;
}

.form-actions::after {
  content: "";
  display: table;
  clear: both;
}

ul.menu {
  margin: 0;
}

ul.menu::after {
  content: "";
  display: table;
  clear: both;
}

ul.menu .menu-item {
  padding: 0;
  float: left;
}

ul.menu .menu-item a {
  display: block;
  padding: 5px 13px;
  text-decoration: none;
}

.messages {
  margin-bottom: 1.5em;
}

.node {
  margin-bottom: 1.5em;
}

.node__submitted, .node__links {
  margin-bottom: 1.5em;
}


.region-navbar .block__title {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.trigger-region-navbar {
  cursor: pointer;
  float: right;
  padding: 5px 13px;
}

