.region-navbar .block__title {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.trigger-region-navbar {
  cursor: pointer;
  float: right;
  padding: 5px 13px;
}
