ul.primary {
  padding: 0 .3em;
  margin-bottom: 0;
  border-bottom: 1px solid #ccc;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

ul.primary::after {
  content: "";
  display: table;
  clear: both;
}

ul.primary li {
  float: left;
}

ul.primary a {
  border: 1px solid #ccc;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;
  bottom: -1px;
}

ul.primary a.is-active {
  border-bottom-color: #fff;
}
